
    body {
        font-family: Arial, sans-serif;
        /* background: linear-gradient(135deg,lightcyan,linear-gradient); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 5px 10px 5px rgba(32, 18, 18, 0.1);
        width: 300px;
    }

    input {
        width: 93%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    input:focus {
        border-color: #4a90e2;
        outline: none;
        box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    }

    p {
        color: red;
        font-size: 14px;
        margin: 5px 0 0;
        height: 16px;
    }

    button {
        background: linear-gradient(90deg, #007bff, #0056b3);
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background: linear-gradient(90deg, #0056b3, #007bff);
    }

    .password-container {
        position: relative;
    }

    .eye-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .success-message {
        color: green;
        font-size: 14px;
        margin-top: 10px;
    }
